name: plantpulse
description: "A new Flutter project."
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ^3.11.0

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.8
  
  # Firebase dependencies
  firebase_core: ^3.0.0
  firebase_auth: ^5.0.0
  cloud_firestore: ^5.0.0
  
  # UI Enhancement dependencies
  google_fonts: ^6.2.1
  cached_network_image: ^3.3.1
  lottie: ^3.1.2
  flutter_animate: ^4.5.0
  flutter_svg: ^2.0.10
  shimmer: ^3.0.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0
  flutter_launcher_icons: ^0.14.4

flutter:
  uses-material-design: true
  assets:
    - assets/
    - assets/images/
    - assets/animations/

flutter_launcher_icons:
  android: true
  ios: true
  image_path: "assets/icon.png"
